<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<form th:action="@{/save}" th:object="${student}" method="post">
    <label for="studentId">ID:</label>
    <input type="text" id="studentId" name="studentId"><br>

    <label for="firstName">Prénom:</label>
    <input type="text" id="firstName" name="firstName"><br>

    <label for="lastName">Nom:</label>
    <input type="text" id="lastName" name="lastName"><br>

    <label for="age">Âge:</label>
    <input type="text" id="age" name="age"><br>

    <input type="submit" value="Ajouter Étudiant">
</form>
</body>
</html>